<h1>Your Order List</h1>

    <% if current_user.orders == [] %>
        <h3><%= "You don't have any orders"%></h3>
    <% elsif current_user.orders != [] %>
        <% @orders.each do |order| %>
            <p> <%=order.id %>. Pick up at <%= order.address%>.</p>
            <div class = "btn-toolbar mt-2" >
                <%= button_to('Cancel the booking', order, class: 'btn btn-danger', method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete the order?" } } )  %>
            </div>
        <% end %>
    <% else %>
    <% end %>

