<h1>Make a booking</h1>

<%= form_with(model: @order , data: {turbo_confirm: "Make a booking? #{current_user.email}" } ) do |form| %>
  <div id="locationField">
    <input id="autocomplete" placeholder="Enter your address"
             onFocus="geolocate()" type="text"></input>
    </div>
  <div>
  <%= form.hidden_field :user_id, value: "#{current_user.id}" %>
  </div>
  <div>
  <%= form.hidden_field :vehicle_id, value: "#{@vehicle.id}" %>
  </div>
  <div>
    <%= form.submit 'Make a booking'%>
  </div>
<% end %>














