<h1>
    Vehicles
    <%=  link_to('New Vehicle', new_vehicle_path, class: "btn btn-primary") %>
</h1>

<% @vehicles.each do |vehicle| %>
    <p> <%= link_to vehicle.make, vehicle %> with <%= vehicle.size %>.</p>
<% end %>



